
#frame1-container {
    padding: 50px;
    background-color: aliceblue;
}

.frame1-header {
    font-family: 'Open Sans', sans-serif; 
    font-size: 48px; color: #b2f7fb; 
    text-shadow: 1px 1px 3px #000000;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.emoji-Item {
    cursor: pointer;
}

#happy {
    background-color: #f7f752;
}

#surprised {
    background-color: #a372ba;
}

#scared {
    background-color: #979787;
}

#angry {
    background-color: #c54c33;
}

#sad {
    background-color: #8ac0c8;
}

#disgusted {
    background-color: #60a784;
}

footer {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #ccdbde;
    border-radius: 10px;
    padding: 5px 0;
}

footer p {
    font-family: monospace;
    margin-right: 10px;
    color: black;
}