
#frame1-container {
    padding: 50px;
}

.frame1-header {
    font-family: 'Open Sans', sans-serif; 
    font-size: 48px; color: #b2f7fb; 
    text-shadow: 1px 1px 3px #000000;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.emoji-Item {
    cursor: pointer;
}

#happy {
    background-color: #f7f752;
}

#surprised {
    background-color: #a372ba;
}

#scared {
    background-color: #979787;
}

#angry {
    background-color: #c54c33;
}

#sad {
    background-color: #8ac0c8;
}

#disgusted {
    background-color: #60a784;
}